.hero-main-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.hero-left-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 300px;
        height: 300px;
    }
}

.hero-right-container {
    width: 60%;
}

.img-container {
    max-height: 500px;
    max-width: 500px;
}

.hero-image {
    width: 50%;
    height: 50%;
}