$mainBrown: #745e4d;
$mainYellow: #ff9e09;
$mainGrey: #ece8dc;
$mainWhite: #fff;
$mainDark: #222;
$navbarColor: #f8f7f4;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: $mainWhite;
  color: $mainDark;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Courier Prime", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.04rem !important;
}

.text-yellow {
  color: $mainYellow;
}

.cart-icon {
  cursor: pointer;
  color: $mainYellow;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: $navbarColor;
}

.navbar-nav {
  display: flex;
  justify-content: right;
}

.nav-link {
  color: $mainBrown !important;
}

.logo {
  max-width: 100px;
  max-height: 100px;
}



.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  color: white;
  h1 {
    font-family: "Dancing Script", cursive !important;
    font-size: 5rem;
    font-weight: bold;
  }

  h3 {
    font-family: "Roboto", sans-serif !important;
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: $mainYellow;
  border-color: $mainYellow;
}

.btn-yellow:hover {
  background: $mainYellow;
  color: $mainBrown !important;
}

.footer {
  background: $mainBrown;
}

.menu,
.contact {
  background: $mainGrey;
}


.info-item {
  margin-bottom: 3rem;
}
.item-title {
  margin-bottom: -2px;
}

.footer {
  min-height: 10vh;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold;
  background-color: $mainGrey;
}
.footer-content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}

.footer-info-text::after {
  content: "  |";
}

// .footer-info-text::before {
//   content: "            |";
// }
