$mainBrown: #2d1e1f;
$mainYellow: #ff9e09;
$mainGrey: #ece8dc;
$mainWhite: #fff;
$mainDark: #222;

* {
  box-sizing: border-box;
}

body {
  background: $mainWhite;
  color: $mainDark;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: $mainYellow;
}

.cart-icon {
  cursor: pointer;
  color: $mainYellow;
  font-size: 2rem;
}

.default-background,
about-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background {
  min-height: 60vh;
}

.btn-yellow {
  color: $mainYellow;
  border-color: $mainYellow;
}

.btn-yellow:hover {
  background: $mainYellow;
  color: $mainBrown !important;
}

.footer {
  background: $mainBrown;
}

.menu,
.contact {
  background: $mainGrey;
}
